In [1]:
import numpy as np
import time
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import k_means
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier

In [2]:
# dataset = list()
# with open ('preprocessing_data_onlyvalue.csv', 'r') as file:
#     csv_reader = reader(file)
#     for i in csv_reader:
#         if not i:
#             continue
#         dataset.append(i)
df = pd.read_csv('preprocessing_data_onlyvalue.csv' )

# for row in train_data:
#     print("////")
#     for col in row:
#         print(col)

In [3]:
train_corr = df.drop('id',axis=1).corr()
train_corr

,id_,per_num,add_time,age,level,country_id,town_id,village_id,income,out_poverty,status
id_,1.000000,0.000547,0.077809,-0.024414,-0.026155,-0.011189,-0.011189,-0.011189,-0.004850,NaN,-0.162384
per_num,0.000547,1.000000,-0.006284,-0.319069,0.006515,0.142188,0.142188,0.142188,-0.026790,NaN,0.039495
add_time,0.077809,-0.006284,1.000000,-0.043000,0.047161,0.097289,0.097289,0.097289,-0.023539,NaN,-0.087392
age,-0.024414,-0.319069,-0.043000,1.000000,0.049603,-0.101335,-0.101335,-0.101335,0.033055,NaN,0.075982
level,-0.026155,0.006515,0.047161,0.049603,1.000000,0.001356,0.001356,0.001356,-0.099152,NaN,0.090650
country_id,-0.011189,0.142188,0.097289,-0.101335,0.001356,1.000000,1.000000,1.000000,0.148004,NaN,0.324475
town_id,-0.011189,0.142188,0.097289,-0.101335,0.001356,1.000000,1.000000,1.000000,0.148004,NaN,0.324475
village_id,-0.011189,0.142188,0.097289,-0.101335,0.001356,1.000000,1.000000,1.000000,0.148004,NaN,0.324475
income,-0.004850,-0.026790,-0.023539,0.033055,-0.099152,0.148004,0.148004,0.148004,1.000000,NaN,0.147936
out_poverty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,-0.162384,0.039495,-0.087392,0.075982,0.090650,0.324475,0.324475,0.324475,0.147936,NaN,1.000000

# 使用 KNN 算法进行聚类，预测 status 相关性

In [9]:
def load_traindata():    
    train_data = df.values[0:, 1:]
    train_label = df.values[:, 11]
    test_data = df.values[0:, 1:]
    return train_data, train_label, test_data
# def test_label_value():
#     test_label = df.values[1500:, 11]
#     return test_label
def knnClassify(trainData, trainLabel):
    knnClf = KNeighborsClassifier(n_neighbors=5)   # default:k = 5,defined by yourself:KNeighborsClassifier(n_neighbors=10)
    knnClf.fit(trainData, np.ravel(trainLabel)) # ravel Return a contiguous flattened array.
    return knnClf
def accuracy(raw, predict):
    raw_list = raw.tolist()
    predict_list = predict.tolist()
    count = 0
    for i in range(len(raw_list)):
        if raw_list[i] == predict_list[i]:
            count = count + 1
        else:
            pass
    print ("correct sample:",count, "all sample:", 
           len(raw_list), "accuracy rate: ", count/len(raw_list))
    
def main():
    init_time = time.time()
    trainData, trainLabel, test_data= load_traindata()
    print("data load finished!")
    knnClf = knnClassify(trainData, trainLabel)
    test_label_result = knnClf.predict(test_data)
    test_label_raw = df.values[1500:, 11]
    accuracy(test_label_raw, test_label_result)
#     for item in zip(test_label_result, test_label_raw):
#           print(item)
main()

data load finished!
correct sample: 1189 all sample: 1467 accuracy rate:  0.8104976141785958